:root{
    --form-height:600px;
    --form-width: 1000px;
    /*  Sea Green */
    --left-color: #F9D0DF;
    /*  Light Blue  */
    --right-color: #C8DAFD;
  }
  /* 기본세팅 */
* {margin: 0; padding: 0;}
*, :after, :before {box-sizing:border-box;}
html,body {width: 100%;height:100%;overflow-x: hidden;}
a {text-decoration:none; color:black; margin:0;}
a:hover{color: black;text-decoration-line: underline;}
ul, li {list-style: none;}
table {border-collapse:collapse;border-spacing:0}

/* 개인회원아이디 찾기 css */
/* content */
.idfg_wrap{width: 1100px; margin: 0 auto; border:1px solid black; border-bottom: none; height: 100%; text-align: center; } 
.idfg_form{border: 1px solid black; border-top: none; margin-top: 300px; height: 700px; padding-top: 70px;}

.idfg_h2_1{border-top:1px solid black; ;  border-left:1px solid black;  width: 549px; height: 50px; text-align:center; padding-top: 10px; float: left; margin-top: 250px; }
.idfg_h2_2{border:1px solid black; width: 549px; height: 50px; text-align:center; float: right; padding-top: 10px; margin-top: 250px;}

.idfg_p>p{ font-weight: bolder; width: 450px; margin:100px 0 50px 100px}
.idfg_name{ height: 80px;width: 900px;}
.idfg_phone{height: 80px;width: 900px; }
.idfg_number{ height: 80px; width: 900px;}

.idfg_ul{margin-left: 100px;}
/* 앞 */
.idfg_sub1{background-color: #c0bfbf67; width: 220px; height: 80px; padding: 25px 70px 0 0; float: left; font-size: large;} 
.idfg_sub2{background-color: #c0bfbf67; width: 220px; height: 80px; padding: 25px 25px 0 0; float: left; font-size: large;} 
.idfg_sub3{background-color: #c0bfbf67; width: 220px; height: 80px; padding: 25px 35px 0 0; float: left; font-size: large;} 

/* input */
.idfg_input1{border-top:1px solid #ebebeb; border-bottom: 1px solid #ebebeb; border-right: 1px solid #ebebeb; height: 80px; width: 900px; }
.idfg_input2{height: 80px ; width: 900px; border-right: 1px solid #ebebeb;}
.idfg_input3{border-top:1px solid #ebebeb; border-bottom: 1px solid #ebebeb; border-right: 1px solid #ebebeb; height: 80px; }

.idfg_input1>input{width: 400px;height: 45px;  float: left; margin:17px 0 0 40px; border:0.2px solid rgba(143, 143, 143, 0.788);}
.idfg_input2>input{width: 400px;height: 45px;  float: left; margin:17px 0 0 40px;  border:0.2px solid rgba(143, 143, 143, 0.788);}
.idfg_input3>input{width: 400px;height: 45px;  float: left; margin:17px 0 0 40px; border:0.2px solid rgba(143, 143, 143, 0.788);}

.idfg_phone_btn{ width: 130px; height: 45px; color:white; margin:17px 70px 0 0; font-weight: bold; font-size:medium; background-color: rgba(128, 128, 128, 0.555); border:0.2px solid rgb(117, 116, 116);} 
.idfg_form_btn{width: 250px ; height: 70px; background-color: rgba(0, 0, 253, 0.61); color:white; font-weight: bold; font-size: larger; margin-top: 40px; }