/* 기본세팅 */
* {margin: 0; padding: 0;}
*, :after, :before {box-sizing:border-box; }
html,body {width: 100%;height:100%;overflow-x: hidden;}
a {text-decoration:none; color:black; margin:0;}
a:hover{color: black;text-decoration-line: underline;}
ul, li {list-style: none;}
table {border-collapse:collapse;border-spacing:0}
/* 시작 */
.ptc_wrap{width: 1100px;  height: 100%; margin: 0 auto; border:1px solid black;}
.ptc_header{border-top: 3px solid black; border-bottom: 3px solid black;  height: 150px; margin-top: 100px;}
.ptc_h3{float: left; margin: 65px 0 0 100px; }
.ptc_point{float: left; width: 100px; height: 40px;  margin:60px 0 0 500px; text-align: center;}
.ptc_btn{ float: right;  margin:65px 80px 0 0;}
.ptc_btn>button{background-color: black; color:white; width: 100px; height: 30px;}


.ptc_content{float:left; position: relative; left:100px; top:100px;}
.ptc_title{font-size: xx-large;}

.ptc_date1{border:2px solid black; width: 150px; height: 50px; position: absolute; margin-top: 60px;} 
.ptc_date2{border:2px solid black; width: 150px; height: 50px; position: absolute; margin:60px 0 0 165px;} 
.ptc_search{border:2px solid black; width: 400px; height: 50px; position: absolute; margin:60px 0 0 330px} 
.ptc_cont_btn{background-color: black; color:white; position: absolute; margin:60px 0 0 750px; width: 130px; height: 50px;}


/* 모달 */


.modal{ position:fixed; width:900px; height: 600px; display: none; align-items: center; justify-content: center; top:150px; 
 background-color:#f2f2f2; border-radius: 20px; box-shadow:inset 0 0 5px rgba(0,0,0,0.27), 0 2px 8px rgba(0,0,0,0.7); z-index: 1;}
 
button:focus{outline: none; box-shadow: inset 0 0 10px rgba(0,0,0,0.1); }
.md_h1>p{ border-bottom:2px solid black; width: 600px; height: 40px;   position: relative; bottom:190px; left:130px; }
.md_btn{ bottom:390px; width: 430px; height: 50px; position: absolute; right: 220px; }
.md_btn1{width:200px; height: 40px;}
.md_btn2{width:200px; height: 40px;}


.md_h2>p{ width: 200px; height: 30px;  position: relative; right: 470px; bottom:60px; font-size: larger; font-weight: bold;}
.md_pointall{ border:1px solid black;  top:280px; position: absolute; right: 200px; width: 500px; height:70px; background-color: #f2f2f2;} 
.md_bou{background-color: blueviolet; color :white;  float: left; margin: 25px 0 0 30px;}
.md_pointall>span{ margin:25px 0 0 40px; float: left;}
.md_pointchar_ul{ width: 470px; margin: 300px 0 0 20px; position: absolute; height: 130px;} 
.md_pointchar_ul>div{border:1px solid black; display: inline-block;  width: 130px; height: 50px; justify-content: space-around; margin:0 15px 10px 0;}

.modal_button{ position: absolute; bottom:30px; }
.modal_closeBtn{width: 100px; height: 30px; }
.modal_nextBtn{width: 100px; height: 30px;}


/* 모달 전체 */
.modalhtml{background-color: rgba(0,0,0,0.4);}
.modalhtml2{background-color: white;}
